langchain==1.2.12
langchain_classic==1.0.3
langchain_core==1.2.20
langchain_google_genai==4.2.1
langchain_qdrant==1.1.0
langchain_text_splitters==1.1.1
python-dotenv==1.2.2
qdrant_client==1.17.1
streamlit==1.51.0
youtube_transcript_api==1.2.4
